@media only screen and (max-width: 767px) {
}


body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #660066;
}

.nav-titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: left;
    color: #ffffff;
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

header {
    background-image: url('../img/Captura\ de\ Pantalla\ 2020-10-12\ a\ la\(s\)\ 21.41.20.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 500px;
    text-align: center;
}

.text1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 200;
    color: #ffffff;
}

.text2 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    text-decoration: overline;
    color: #ffffff;
}

.hr1 {
    height: 2px; 
    width: 120px;
    color: #373A3C; 
    background-color: #373A3C; 
    border: none;
}

.hr2 {
    height: 2px; 
    width: 120px;
    color: #373A3C; 
    background-color: #373A3C; 
    border: none;
}

.hr3 {
    height: 2px; 
    width: 120px;
    color: #ffffff;
    background-color: #ffffff; 
    border: none;
}

.parra {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
    font-weight: 600;
}

.colum {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #373A3C;
    font-size: 16px;
}

.deta {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    text-align: center;
    color: #373A3C;
}

.empresa {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #373A3C;
}

.amo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #373A3C;
}

.trabajos {
    background-color: #660066;
}

.magda {
    font-family: 'Oswald', sans-serif;;
    font-size: 40px;
    text-align: left;
    color: #ffffff;
}

.last {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    color: #ffffff;
}


.card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color: #373A3C;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #373A3C;
}